* {
  margin: auto;
  padding: 0;
}

:root {
  --background-color: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  --heading-font: "Cormorant Garamond", serif;
  --sub-heading-font: "Gentium Plus", serif;
}

.first-heading {
  font-family: var(--heading-font);
}

.second-heading {
  font-family: var(--sub-heading-font);
}

.first-heading{
  margin-top: 2em;
}

.home-first-text {
  font-size: 24px;
  text-align: center;
 
}

.home-second-text {
  font-size: 20px;
  text-align: center;
  
}

.home-card {
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
  margin-left: auto;
  margin-right: auto;
}

.about-card {
  background-color: #fafafa;
}

.mentoria-text {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-mentoria {
  font-size: 25px;
}

.card-aprende {
  font-size: 28px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (min-width: 992px) {
  .home-first-text,
  .home-second-text {
    margin-top: 20px;
    text-align: center;
    padding: 3em;
  
  }
  .image-photo {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .image-logo{
    width: 600px;
  }
  .card-t {
    margin: 100px;
    padding: 3em;
  }
}
@media screen and (max-width: 992px) {
  .image-photo,.image-logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .first-heading {
    font-size: 24px;
  }
  .second-heading {
    font-size: 20px;
  }
  .home-first-text,
  .home-second-text {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .image-photo,.image-logo {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
